*{
    margin: 0px;
}

.mode{
    cursor: pointer;
    display: inline;
    position: absolute;
    top: 10px;
    right: 10px;
}

.header{
    align-items: center;
    text-align: center;
    background-color: rgb(79, 129, 246);
    padding: 20px 20px 20px 20px;
}

.btu,.reset{
    text-align: center;
    background-color: aquamarine;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 20px;
}

.btu:hover,.reset:hover{
    text-align: center;
    background-color: rgb(26, 250, 175);
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
}

.body{
    text-align: center;
    background-color: grey;
    color: black;
    height: 80vh;
}

.time{
    font-size: 200px;
    padding:100px 0px 100px 0px;
    font-family: "Alarm Clock", sans-serif;
}

#modeColor{   
    display: inline; 
}

*{
  transition: background 0.3s ease, color 0.3s ease;
}

